/* HTML5 display-role reset for older browsers */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    line-height: 1;
    font-family: "Raleway", "Arial", sans-serif;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
	line-height: 150%;
}
body {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
    background: rgba(0,0,0,0);
    background-size: 100% auto;
}
}
p {
    line-height: 150%;
}

.online-demo {
	position: fixed;
	right: 0;
	top: 40vh;
    cursor:pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.online-demo img {
	height: 9vw;
}

.grey-link{
	color:  #f05635;
	text-decoration: none;
}

.link-invisible {
	text-decoration: none;
	color: black;
}

.news-link{
	text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    font-size: 1.07vw;
    z-index: 990;
}

nav li {
    display: inline-block;
    padding: 1.6vw;
}

nav li:hover {
    background-color: #777;
    background-color: rgba(0, 0, 0, 0.32);
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav .left_bar {
	position: fixed;
	left: 0%;
	text-align: center;
	z-index: 999;
}

nav .middle_bar {
	position: fixed;
	width: 100%;
	left: 0;
	text-align: center;
	background-image: url(assets/img/top_back.jpg);
	background-size: 100% auto;
}

nav .right_bar {
	position: fixed;
	right: 0%;
	text-align: center;
	z-index: 999;
}

nav .right_bar img {
	width: 7.8vw;
	padding: 1.6vw;
	margin-right: 0.4vw;
}

nav .left_bar img {
	height: 4.25vw;
}

#title{
	position: relative;
	margin-top: 1.2vw;
	width: 100%;
	text-align: center;
}

#title img {
    width: 100%;
}

#challenge {
	margin-top: 7.5vw;
	text-align: center;
}

#challenge .description {
	margin-top: 14.6vw;
	text-align: justify;
	width: 50%;
	margin-left: 25%;;
	font-size: 1.02vw;
	color: rgb(25, 86, 129, 0.9);
	line-height: 1.7vw;
}

#dates {
	margin-top: 7vw;
	text-align: center;
	width: 50%;
	margin-left: 25%;
}

#dates .title {
	text-align: center;
	font-size: 2.2vw;
	color: #178ed2;
}

#dates table {
	width: 80%;
	margin-left: 14%;
	font-size: 1.02vw;
	margin-top: 4.2vw;
	color: rgb(25, 86, 129, 0.9);
}

#dates table td {
	padding-bottom: 0.4vw;
}

#tasks {
	margin-top: 7vw;
	text-align: center;
}

#tasks .title {
	text-align: center;
	font-size: 2.2vw;
	color: #178ed2;
}

#tasks table {
	width: 100%;
}

#tasks table th {
	font-size: 1.4vw;
	color: #178ed2;
	padding-top: 4.2vw;
}

#tasks table td {
	line-height: 1.6vw;
}

#validation {
	margin-top: 7vw;
	text-align: center;
	width: 60%;
	margin-left: 20%;
}

#validation .title {
	text-align: center;
	font-size: 2.2vw;
	color: #178ed2;
}

#validation table {
	width: 90%;
	margin-left: 7%;
	font-size: 1.02vw;
	margin-top: 2.8vw;
}

#submission {
	margin-top: 7vw;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	font-size: 1.06vw;
}

#submission .title {
	text-align: center;
	font-size: 2.2vw;
	color: #178ed2;
}

#submission table {
	align: center;
	width: 40vw;
	font-size: 1.02vw;
	margin-top: 1.8vw;
	margin-left: 13vw;
	text-align: left;
}

#submission table td {
	line-height: 1.6vw;
}

#contacts {
	margin-top: 7vw;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 5vw;
}

#contacts .title {
	text-align: center;
	font-size: 2.2vw;
	color: #178ed2;
}

#contacts table {
	margin-top: 6.2vw;
	width: 100%;
}

#contacts table td {
	line-height: 1.6vw;
	font-size: 0.94vw;
}

#validation table td {
	padding-bottom: 0.9vw;
}
sup {font-size: 0.84vw; vertical-align:super;}

sub {font-size: 0.84vw; vertical-align:sub;}

#about {
	position: relative;
	margin-top: 6.04vw;
	width: 100%;
	background-color: #2c3037;
	text-align: center;
	overflow: hidden;
	font-size: 0.94vw;
	color: #ecf0f1;
	padding-top: 1.5vw;
	padding-bottom: 1.7vw;
	overflow: hidden;
}

#about p {
	line-height: 200%;
}

.highlight-color{
	 color: #f05635;
}

.highlight-color-blue{
	 color: #3498db;
}

.large-spacing {
  word-spacing: 0.2vw;
}

.small-text{
	font-size: 0.93vw;
}

.italic{
	font-style: italic
}

/* ----------------- Slider ---------------- */

.cd-image-container {
  position:relative;
  display: inline-block;
  line-height: 0;
  margin: 2vw;
  width: 24vw;
  max-width: 24vw;
}

.cd-image-container img {
  display: block;
  width: 24vw;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1.1vw;
  font-size: 1.0vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(1vw);
  -moz-transform: translateY(1vw);
  -ms-transform: translateY(1vw);
  -o-transform: translateY(1vw);
  transform: translateY(1vw);
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  -webkit-animation: cd-bounce-in 0.4s;
  -moz-animation: cd-bounce-in 0.4s;
  animation: cd-bounce-in 0.4s;
}

.cd-handle {
  position: absolute;
  height: 2vw;
  width: 2vw;
  left: 50%;
  top: 50%;
  margin-left: -1vw;
  margin-top: -1vw;
  border-radius: 50%;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);*/
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}

.cd-first {
  	background: rgba(241,107,89, 0.8);
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.cd-handle.draggable {
  
}

.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
